<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link rel="styesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/8a436ae004.js" crossorigin="anonymous"></script>
</head>
<body>
<!--footer-->
      <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2022 all right reserved</p>
          </div>
          <!--./container-->
      </footer>
</html>