<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class = "container">
    <div class = "jumbotron">
        <h1>HELLO SHOP</h1>
        <p class = "lead">회원 기능</p>
        <p>
            <a class ="btn btn-lg btn-secondary" href="/members/new" role="button">회원 가입</a>
            <a class ="btn btn-lg btn-secondary" href="/members" role="button">회원 목록</a>
        </p>
        <p class = "lead">상품 기능</p>
        <p>
            <a class ="btn btn-lg btn-secondary" href="/items/new" role="button">상품 등록</a>
            <a class ="btn btn-lg btn-secondary" href="/items" role="button">상품 목록</a>
        </p>
        <p class = "lead">주문 기능</p>
        <p>
            <a class ="btn btn-lg btn-secondary" href="/order" role="button">주문</a>
            <a class ="btn btn-lg btn-secondary" href="/orders" role="button">주문 목록</a>
        </p>


    </div>
</div>
</body>
</html>