<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <remoteHost>localhost</remoteHost> <!-- Fluentd가 실행 중인 호스트 -->
        <port>24224</port> <!-- Fluentd 포트 -->
        <tag>springboot</tag> <!-- 로그 태그 -->

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="FLUENT"/>
    </root>
</configuration>
